{{extend 'layout.html'}}

<div id="main_login">
    {{if auth.user_id is None:}}
        {{=A('Sign Up', _class='btn btn-warning', _href=URL('default', 'user', args=['register']))}}
        {{=A('Sign In', _class='btn btn-success', _href=URL('default', 'user', args=['login']))}}
    {{else:}}
        {{=A('Upload', _class='btn btn-success', _href=URL('default', 'upload_data'))}}
        Welcome Back {{auth.user}}
        <a href={{=URL('default', 'user', args=['change_password'])}}><p><button type="button" class="btn btn-danger"><i class="fa fa-lock"></i>&nbsp;&nbsp;&nbsp;Change Password</button></p></a>

    {{pass}}
</div>



{{if len(maintable) > 0:}}

    <table class='mytable' border="1" frame="void" rules="rows">
        <tr class="myheader">
            <th>Name</th>
        </tr>
        {{for m in maintable:}}
        <tr >
            <td>{{=A(m.table_name, _href=URL('default', 'visView', args=[m.id]))}}</td>
        </tr>
        {{pass}}
    </table>

{{pass}}