{{extend 'layout.html'}}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
    <!--END HEAD SECTION -->
<body background="http://www.pptback.com/uploads/gradient-green-lights-gradient-backgrounds-powerpoint.jpg">  
     <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><p>Visualizer Data Solutions</p></a>
            </div>

          <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
    {{if auth.user_id is None:}}
        {{=A('Sign Up', _class='btn btn-success', _href=URL('default', 'user', args=['register']))}}
        {{=A('Sign In', _class='btn btn-success', _href=URL('default', 'user', args=['login']))}}
    {{else:}}
        {{=A('Upload', _class='btn btn-success', _href=URL('default', 'upload_data'))}}
        Welcome Back {{auth.user}}
        <a href={{=URL('default', 'user', args=['change_password'])}}><p><button type="button" class="btn btn-success"><i class="fa fa-lock"></i>&nbsp;&nbsp;&nbsp;Change Password</button></p></a>
{{pass}}
                </ul>
            </div>
           
        </div>
    </div>
     <!--END NAV SECTION -->
     <!-- HEADER SECTION -->

{{if len(maintable) > 0:}}

    <table class='mytable' border="1" frame="void" rules="rows" width="100%">
        <tr class="myheader">
            <th><font color = "grey"><h1>Single</h1></font></th>
        </tr>
        {{for m in maintable:}}
        {{if m.single_company:}}
        <tr >
            <td>{{=A(m.table_name, _href=URL('default', 'visView', args=[m.id,m.single_company]))}}</td>
            {{ if auth.user_id == m.uploader: }}
                   <td>{{=A('Delete',_href=URL('default', 'delete', args=[m.id], user_signature=True))}}</td>
            {{pass}}

        </tr>
        {{pass}}
        {{pass}}

    </table>

     <table class='mytable' border="1" frame="void" rules="rows" width="100%">
        <tr class="myheader">
            <th><font color = "grey"><h1>Multi</h1></font></th>
        </tr>
        {{for m in maintable:}}
         {{if m.single_company == False:}}
        <tr >
            <td>{{=A(m.table_name, _href=URL('default', 'visView2', args=[m.id]))}}</td>

        </tr>
         {{pass}}
        {{pass}}

    </table>

{{pass}}
